{% extends "page.twig" %}

{% block content %}
    <div class="col-md-12">
        <h1>404</h1>
        <br><br>
        <a href="/" class="btn btn-lg btn-primary">{%trans%}Back to shop{%endtrans%}</a>
    </div>
{% endblock %}
