{% extends "page.html" %}

{% block content %}
{%if error==1%}
<div class="col-md-12">
<h1>{%trans%}Etwas mit der Bezahlung hat nicht funktioniert aber Ihre Bestellung haben wir erhalten.{%endtrans%}</h1>
<br><br>
<a href="index.php" class="btn btn-lg btn-primary">Zur&uuml;ck zum Shop</a>
</div>
{%else%}
<div class="col-md-12">
<h1>{%trans%}Thank you for your order{%endtrans%}</h1>
<br><br>
<a href="index.php" class="btn btn-lg btn-primary">Zur&uuml;ck zum Shop</a>
</div>
<script>
  {%if res.redirect!=""%}
      window.location.href="{{redirect|escape('js')}}";
  {%else%}
  var stripe = Stripe('{{token}}');

  stripe.redirectToCheckout({
  // Make the id field from the Checkout Session creation API response
  // available to this file, so you can provide it as parameter here
  // instead of the {{CHECKOUT_SESSION_ID}} placeholder.
  sessionId: '{{res.token}}'
}).then(function (result) {
  // If `redirectToCheckout` fails due to a browser or network
  // error, display the localized error message to your customer
  // using `result.error.message`.
});
{%endif%}
  </script>
  {%endif%}
{% endblock %}
