<style>
    .home-testimonial {
        background-color: #231834;
        height: 380px
    }

    .home-testimonial-bottom {
        transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
        margin-top: 20px;
        margin-bottom: 0px;
        position: relative;
        height: 130px;
        top: 190px
    }

    .home-testimonial h3 {
        color: var(--orange);
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase
    }

    .home-testimonial h2 {
        color: white;
        font-size: 28px;
        font-weight: 700
    }

    .testimonial-inner {
        position: relative;
        top: -174px
    }

    .testimonial-pos {
        position: relative;
        top: 24px
    }

    .testimonial-inner .tour-desc {
        border-radius: 5px;
        padding: 40px
    }

    .color-grey-3 {
        font-family: "Montserrat", Sans-serif;
        font-size: 14px;
        color: #6c83a2
    }

    .testimonial-inner img.tm-people {
        width: 60px;
        height: 60px;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        -o-object-fit: cover;
        object-fit: cover;
        max-width: none
    }

    .link-name {
        font-family: "Montserrat", Sans-serif;
        font-size: 14px;
        color: #6c83a2
    }

    .link-position {
        font-family: "Montserrat", Sans-serif;
        font-size: 12px;
        color: #6c83a2
    }
</style>

{% if res.contents.byclass.customer_reviews|length > 0 %}
<section class="home-testimonial mb-5">
    <div class="container-fluid">
        <div class="row d-flex justify-content-center testimonial-pos">
            <div class="col-md-12 d-flex justify-content-center">
                <h2>{%trans%}Customer Reviews{%endtrans%}</h2>
            </div>
        </div>
        <section class="home-testimonial-bottom">
            <div class="container testimonial-inner">
                <div class="row d-flex justify-content-center">
                    {% for value in res.contents.byclass.customer_reviews %}
                        <div class="col-md-4 style-3">
                            <div class="tour-item ">
                                <div class="tour-desc bg-white">
                                    <div class="tour-text color-grey-3 text-center">
                                        &ldquo;{{ value.attributes.text.value|raw }}&rdquo;
                                    </div>
                                    <div class="d-flex justify-content-center pt-2 pb-2"><img class="tm-people"
                                                                                              src="{{ value.attributes.img.value }}"
                                                                                              alt=""></div>
                                    <div class="link-name d-flex justify-content-center">{{ value.attributes.name.value }}</div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
</section>
{% endif %}