<nav class="navigation uk-navbar uk-navbar-attached subpage" data-uk-parallax="{bg: '200'}">
    <div class="uk-container uk-container-center">
        <a href="index.html" class="uk-navbar-brand uk-hidden-small uk-margin-remove uk-padding-remove">
            <img width="" height="" alt="Just great bread" src="../../img/logo.png" class="uk-margin-top" />
        </a>
        <div class="uk-navbar-flip">
            <ul class="uk-navbar-nav uk-margin-top">
                <li class="uk-hidden-small"><a href="about.html">About</a></li>
                <li class="uk-hidden-small"><a class="eatlight-login" href="#eatlight-login" data-uk-modal>Anmelden</a></li>
                <li class="uk-visible-small">
                    <a href="#eatlight-login" data-uk-modal>
                        <span class="uk-icon-medium uk-visible-small uk-icon-lock"></span>
                    </a>
                </li>
                <li class=""><a href="#"><span class="uk-icon-search uk-icon-button"></span></a></li>
                <li class=""><a href="http://www.google.com"><span class="uk-icon-shopping-cart uk-icon-button"></span></a></li>
            </ul>
        </div>
        <a data-uk-offcanvas="" class="uk-navbar-toggle uk-visible-small" href="#eatlight-offcanvas"></a>
        <div class="uk-navbar-brand uk-navbar-center uk-visible-small">
            <a href="index.html"><img alt="Just great bread" title="" src="../img/logo.png" class="uk-margin-top"/></a>
        </div>
    </div>
</nav>
