{% extends "page.twig" %}

{% block content %}

{% include 'content_block.twig' %}

<div class="container">
<div style="clear:left;"></div>

<hr>

{% include "product_listing.twig" %}

{% endblock %}
