{% extends "page.twig" %}

{% block content %}

<div class="container">
{% include 'content_block.twig' %}
<div style="clear:left;"></div>
<hr>
</div>

{% include "product_listing.twig" %}

{% include "customer_reviews.twig" %}

{% endblock %}
