{% extends "page.twig" %}

{% block content %}
<div class="container">
<div class="row">
<div class="col-md-12">
<h1>{%trans%}You successfully logged out{%endtrans%}</h1>
<br><br>
<a href="/" class="btn btn-lg btn-primary">{%trans%}Back to shop{%endtrans%}</a>
</div>
</div></div>
{% endblock %}
