<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8" />
        <title>{{res.title}}</title>
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css" />
    <!-- Latest compiled and minified JavaScript -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates" rel="stylesheet">
    <script src="https://js.stripe.com/v3/"></script>
    <base href="/" >
    </head>
    <body>
      <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/de_DE/sdk.js#xfbml=1&version=v2.3";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
       <div class="container">
             {% block header %}
    <nav class="navbar navbar-default navbar-fixed-top">
     <div class="container">
       <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
           <span class="sr-only">Navigation ein-/ausblenden</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
         <button type="button" class="cart-btn navbar-toggle btn glyphicon glyphicon-shopping-cart" data-toggle="" data-target="#cart" aria-expanded="false" >
           <span class="sr-only">Navigation ein-/ausblenden</span>

         </button>
         <a class="navbar-brand" href="index.php">{%trans%}Home{%endtrans%}</a>
       </div>
       <div id="navbar" class="navbar-collapse collapse">
         <ul class="nav navbar-nav">
           {% for item in menu %}
            <li {% if loop.index==0 %}class="" {% endif %} {% if item.children|length>0 %}class="dropdown"{% endif %}>
            {% if item.children|length>0 %}
            <a href="show_category.php?id={{ item.id }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ item.label }}<span class="caret"></span></a>
            {% else %}
            <a href="{% if item.permalink!='' %}./category/{{ item.permalink }}{% else %}./category/{{ item.id }}{% endif %}">{{ item.label }}</a>
            {% endif %}
            {% if item.children|length>0 %}
             <ul class="dropdown-menu" role="menu">
               {% for sub in item.children %}
                <li><a href="{% if sub.permalink!='' %}./category/{{ sub.permalink }}{% else %}./category/{{ sub.id }}{% endif %}">{{ sub.label }}</a></li>
               {% endfor %}
             </ul>
             {% endif %}
            </li>
           {% endfor %}
         </ul>
         <ul class="nav navbar-nav navbar-right">
           <li class="dropdown">
                   <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{language|slice(0,2)}}
                   <span class="caret"></span></a>
                   <ul class="dropdown-menu">
                     <li><a href="change-lang?lang=de_DE">de</a></li>
                     <li><a href="change-lang?lang=en_EN">en</a></li>
                   </ul>
                 </li>
           <li class="">{% if username!='' %}<a href="profile">{%trans%}You are logged in as{%endtrans%} {{ username }}</a>{% else %}<a href="login?profile=1">{%trans%}Login{%endtrans%}</a>{% endif %}</li>
           {% if username!='' %}<li><a href="logout">{%trans%}Logout{%endtrans%}</a></li>{% endif %}
           <li class="hidden-xs cart-hover"><a href="cart"><span class="glyphicon glyphicon-shopping-cart"> {{cart.sum|number_format(2)}} EUR</span></a>
            <span class="cart-elements well">
          <table class="table table-striped small">
           <thead>
             <tr>
               <th>{%trans%}Product{%endtrans%}</th>
               <th class="text-right">{%trans%}Quantity{% endtrans %}</th>
               <th class="text-right">{%trans%}Sum{%endtrans%}</th>
             </tr>
           </thead>
           <tbody>
           {% set sum_tax=0 %}
           {% for value in cart.contents %}
            {% set sum_tax=sum_tax+value.sum_price*value.attributes.sys_tax %}
             <tr>
               <td class="">{{ value.name }}</td>
               <td class="text-right">{{ value.quantity }}</td>
               <td class="text-right">{{ value.sum_price|number_format(2)}} EUR</td>
             </tr>
             {% for value in value.sub_elements.contents %}
              <tr>
                <td class="col-md-4">+ {{ value.name }}<br>{{ value.description }}</td>
                <td class="col-md-2 text-right">{{ value.quantity }}</td>
                <td class="col-md-2 text-right">{{ value.sum_price|number_format(2)}} EUR</td>
              </tr>
              {% endfor %}
             {% endfor %}

              {% if cart.delivery_costs.sum>0 %}
             <!--  <tr>
               <td>Lieferkosten:</td><td class="col-md-2 text-right">1</td><td class="col-md-2 text-right">{|number_format:$cart.delivery_costs.sum,2} EUR</td>
             </tr>-->
               {% endif %}
               <tr>
             <td><h5>{%trans%}Sum{%endtrans%}:</h5></td><td></td><td class="text-right"><h5>{{cart.sum+cart.delivery_costs.sum|number_format(2)}} EUR</h5></td>
             </tr>
           </tbody>
         </table>
         <p align="right"><a href="cart" class="btn  btn-primary">{%trans%}To cart{%endtrans%}</a></p>
            </span>
            </li>
         </ul>
       </div><!--/.nav-collapse -->
     </div>
   </nav>

   <br><br><br>
<div class="col-md-4">
<a href="index.php"><img src="../img/logo.png" border="0"></a>
</div>

<div class="col-md-8">
<form method="GET" action="search">
<div class="input-group search-field">
      <input type="text" class="form-control input-lg" placeholder="Suchbegriff..." name="searchstring">
      <span class="input-group-btn">
        <input type="submit" class="btn btn-lg btn-primary" value="{%trans%}Search{%endtrans%}">
      </span>
    </div>
</div>
</form>

<div style="clear:left;"></div>
<hr>
             {% endblock %}
             {% block head %}

             {% endblock %}

             {% block content %} HERE  OUR CONTENT {% endblock %}


              {% block footer %}

              <div style="clear:left;"></div>
              <hr>
              <div class="col-md-3">
              <h4>{%trans%}About us{%endtrans%}</h4>

              </div>
              <div class="col-md-3">
              <h4>Infos</h4>
              <a href="./content/{%trans%}privacy{%endtrans%}">{%trans%}Privacy{%endtrans%}</a><br>
              <a href="./content/{%trans%}delivery-and-payment{%endtrans%}">{%trans%}Delivery{%endtrans%}</a><br>
              <a href="./content/{%trans%}terms{%endtrans%}">{%trans%}Terms{%endtrans%}</a><br>
              <a href="./content/{%trans%}imprint{%endtrans%}">{%trans%}Imprint{%endtrans%}</a><br><br><br><br>
              </div>
              <div class="col-md-3">
              <h4>{%trans%}Payment methods{%endtrans%}</h4>
              <img src="../img/paypal.jpg" width="100px">
              <img src="../img/sofortueberweisung.jpg" width="100px"><br><br>
              <img src="../img/paymill.jpg" width="100px">
              <img src="../img/vorkasse.jpg" width="100px">
              </div>
              <div class="col-md-3">
              <h4>Netzwerke</h4>
              <a href="https://www.facebook.com/" target="_blank"><img src="../img/facebook.png" width="50px"></a>
              </div>

              {% endblock %}

       </div>

    </body>
    <script src="/js/jquery/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="/js/jquery/jquery.imageLens.js"></script>
    <script src="/js/mayalist/mayalist.js"></script>
    <script src="/js/main.js"></script>
</html>
