{% extends "page_checkout.html"%} {%block content%}
<div style="min-height: 450px">
  <div class="col-md-12">
    <div class="col-md-12" style="padding-top: 40px">
      <a href="index.php">{%include 'part_logo.html'%}</a>
    </div>
  </div>
  <div class="col-md-12">
    <h1>{%trans%}Choose your payment method{%endtrans%}:</h1>
    <br /><br />
  </div>
  <div class="col-md-6">
    <div
      style="
        padding: 10px;
        border: 1px #e5e5e5 solid;
        border-radius: 10px;
        min-height: 200px;
      "
    >
      <a href="order_summary?id_payment={{payment_methods.PayPal.id}}"
        ><img src="/img/paypal.jpg" class=""
      /></a>
      <hr />
      <p>{%trans%}Pay easily with PayPal{%endtrans%}</p>
    </div>
  </div>
  <div class="col-md-6">
    <div
      style="
        padding: 10px;
        border: 1px #e5e5e5 solid;
        border-radius: 10px;
        min-height: 200px;
      "
    >
      <a
        href="order_summary?id_payment={{payment_methods.Sofortueberweisung.id}}"
        ><img src="/img/sofortueberweisung.jpg" class=""
      /></a>
      <hr />
      <p>{%trans%}Comfortable payment with your bank-account{%endtrans%}</p>
    </div>
  </div>

  <div class="col-md-6" style="padding-top: 30px">
    <div
      style="
        padding: 10px;
        border: 1px #e5e5e5 solid;
        border-radius: 10px;
        min-height: 200px;
      "
    >
      <a
        href="order_summary?id_payment={{payment_methods.Stripe.id}}&token={{payment_methods.Stripe.attributes.public_key}}"
        ><img src="/img/stripe.png" class=""
      /></a>
      <hr />
      <p>{%trans%}Pay with your creditcard{%endtrans%}</p>
    </div>
  </div>

  <div class="col-md-6" style="padding-top: 30px; margin-bottom: 35px;">
    <div
      style="
        padding: 10px;
        border: 1px #e5e5e5 solid;
        border-radius: 10px;
        min-height: 200px;
      "
    >
      <a href="order_summary?id_payment={{payment_methods.PrePayment.id}}"
        ><img src="/img/vorkasse.jpg" class=""
      /></a>
      <hr />
      <p>
        {%trans%}Pay easily after receiving your invoice. After that we will
        send you the ordered items{%endtrans%}
      </p>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="mymodal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Kreditkarte pr&uuml;fen</h4>
      </div>
      <div class="modal-body">
        <!-- Beginning paymill -->
        <div class="payment-errors payfrm" role="alert"></div>
        <form class="form payfrm" method="POST" action="order_summary">
          <div class="form-group">
            <label class="card-number-label"
              >{%trans%}Creditcard number{%endtrans%}</label
            ><br />
            <input
              class="card-number span2 form-control"
              name="card_number"
              type="text"
              size="20"
              value="4111111111111111"
            />
          </div>

          <div class="form-group">
            <label class="card-cvc-label">CVC</label><br />
            <input
              class="card-cvc span1 form-control"
              name="cvc"
              type="text"
              size="4"
              value=""
            />
          </div>
          <div class="form-group">
            <label class="card-expiry-label"
              >{%trans%}Expiration month{%endtrans%}</label
            ><br />
            <input
              class="card-expiry-month span1 form-control"
              name="exp_month"
              type="text"
              size="2"
              value="12"
            />
          </div>
          <div class="form-group">
            <label>{%trans%}Expiration year{%endtrans%}</label><br />
            <input
              class="card-expiry-year span1 form-control"
              name="exp_year"
              type="text"
              size="4"
              value="2015"
            />
          </div>

          <input
            type="hidden"
            class="amount span2"
            type="text"
            size="5"
            value="{$cart.sum*100}"
            name="amount"
          />
          <input
            class="currency"
            type="hidden"
            size="3"
            value="EUR"
            name="currency"
            type="hidden"
          />
          <br /><br /><input
            type="submit"
            name="btn_check_cc"
            id="btn_check_cc"
            class="btn btn-primary"
            value="{%trans%}Weiter{%endtrans%}"
          />
          <input type="hidden" name="token" id="token" />
          <input
            type="hidden"
            name="id_payment"
            value="{{payment_methods.Stripe.id}}"
          />
        </form>
        <!-- End Paymill -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Schlie&szlig;en
        </button>
      </div>
    </div>
  </div>
</div>
{%endblock%}
