{% for value in res.products %}
<div class="col-md-4 list-obj" data-price="{{ value.attributes.price.value }}" data-name="{{ value.attributes.name.value }}" style="min-height:430px;">
<div class="product-column">
<p align="center"><a class="" href="{% if value.permalink!='' %}{{ value.permalink }}{% else %}/{{ value.id }}{% endif %}"><img src="{{ value.attributes.img1.value }}" height="300" align="center"></a></p>
</div>
<a class="" href="{% if value.permalink!='' %}{{ value.permalink }}{% else %}/{{ value.id }}{% endif %}"><h4 align="center">{{ value.attributes.name.value }}</h4></a>
<a class="" href="{% if value.permalink!='' %}{{ value.permalink }}{% else %}/{{ value.id }}{% endif %}"><h3 align="center">{{value.attributes.price.value|number_format(2)}} EUR</h3></a><br><br>
</div>
{% endfor %}
