{% for value in res.products %}
<div class="col-md-4 list-obj" data-price="{{ value.attributes.price.value }}" data-name="{{ value.attributes.name.value }}">
<div class="product-column">
<p align="center"><img src="{{ value.attributes.img1.value }}" width="80%" align="center"></p>
<span class="product-overlay product-details"></span>
<span class="product-details"><h2>{{ value.attributes.name.value }}</h2>
{{ value.attributes.short_description.value }}<br>
<h3>{{ value.attributes.price.value|number_format(2)}} EUR</h3>
<a class="btn btn-primary" href="{% if value.permalink!='' %}{{ value.permalink }}{% else %}get_product_details.php?id_product={{ value.id }}{% endif %}">{% trans %}Show product{% endtrans %}</a>
</span>
</div>
</div>
{% endfor %}
