{%extends "page.twig"%}
{%block content%}
<div class="col-md-12">
<h1>{%trans%}Your password{%endtrans%}:</h1>
<br><br>
</div>
<div class="col-md-8">
{%if error_count>0%}
 <div class="alert alert-danger" role="alert">
        {{error}}
      </div>
{%endif%}
{%if already_sent==1 and error_count==0%}
 <div class="alert alert-success" role="alert">
        {%trans%}New password saved{%endtrans%}
      </div>
{%endif%}
<form method="POST" action="profile-password" class="form">
<div class="form-group {$error.firstname}">
<label>{%trans%}Current password{%endtrans%}*</label>
<input type="password" name="passwd1" class="form-control">
</div>
<div class="form-group {$error.lastname}">
<label>{%trans%}New password{%endtrans%}*</label>
<input type="password" name="passwd2" class="form-control">
</div>
<div class="form-group">
<label>{%trans%}Repeat new password{%endtrans%}*</label>
<input type="password" name="passwd3" class="form-control">
</div>
<p align=""><input type="submit" class="btn  btn-primary" value="{%trans%}Save{%endtrans%}"></p>
<input type="hidden" name="already_sent" value="1">
</form>
</div>
<div class="col-md-4">
{%include "profile_sidebar.twig"%}
</div>
{%endblock%}
