{%extends "page.html"%}
{%block content%}
<div class="col-md-12">
<h1>{%trans%}Your data{%endtrans%}</h1>
<br><br>
</div>
<div class="col-md-4">
<h3>{%trans%}I am already registered{%endtrans%}:</h3>
{%trans%}Do you have a user account? Click the "login" button to login with your data.{%endtrans%}<br><br>
<a href="login" class="btn btn-lg btn-primary">{%trans%}Login{%endtrans%}</a>
</div>
<div class="col-md-4">
<h3>{%trans%}I want to create an account{%endtrans%}:</h3>
{%trans%}If you haven't a useraccount yet you can create one by clicking on register{%endtrans%}<br><br>
<a href="register" class="btn btn-lg btn-primary">{%trans%}Register now{%endtrans%}</a>
</div>
<div class="col-md-4">
<h3>{%trans%}I want to continue as a guest{%endtrans%}:</h3>
{%trans%}You can continue as a guest. Just click the button "continue as a guest".{%endtrans%}<br><br>
<a href="userdata" class="btn btn-lg btn-primary">{%trans%}Continue as a guest{%endtrans%}</a>
</div>
 {%endblock%}
